.recent-posts {
    background-color: var(--alice-blue);
    padding: 1.8rem 5% 3.6rem 5%;
}

.recent-posts-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent-posts .view-all-link {
    display: none;
}

.posts-card-container {
    display: grid;
    grid-template-columns: 1fr;
}

.post-card {
    background-color: var(--white);
    color: var(--dark);
    padding: 2% 5% 7% 2%;
    margin: 1.8rem 0 0 0;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 10px 0px #BBE1FA;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-title {
    font-size: 2.6rem;
}

.post-publish-info {
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
    font-size: 1.8rem;
    color: var(--dark);
}

.post-title:hover,
.publish-date:hover,
.post-category:hover {
    text-decoration: underline;
    cursor: default;
}


.vr {
    display: flex;
    align-items: center;
}

/* sm */
@media (min-width: 640px) {}

/* md */
@media (min-width: 768px) {
    .recent-posts-header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .recent-posts .view-all-link {
        display: initial;
    }

    .posts-card-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1.8rem;
    }

    .recent-posts {
        padding: 1.8rem 12.7% 3.6rem 12.7%;
    }

    .post-card {
        padding: 1.8rem 10% 2.5rem 5%;
        margin: 1.8rem 0 0 0;
    }
}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* xxl */
@media (min-width: 1536px) {}

@media (prefers-color-scheme: dark) {

    .recent-posts {
        color: var(--light);
        background-color: var(--gray);
    }

    .post-card {
        color: var(--light);
        background-color: var(--dark);
    }

    .post-publish-info {
        color: var(--light);
    }

    .vr-svg {
        color: var(--light);
    }

}