header {
    min-height: 5rem;
    background-color: var(--white);
    color: var(--black);
    font-size: 2rem;
    line-height: 2.93rem;
    padding: 1rem 6.35%;
}

#main-nav {
    min-width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

#navigation-list {
    min-width: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
    font-weight: 500;
}

#open-nav-button {
    cursor: pointer;
}

#close-nav-button {
    align-self: flex-end;
    display: flex;
}

.navigation-list-item {
    padding: 0.5rem;
}

.navigation-list-item:hover {
    cursor: pointer;
    color: var(--primary)
}

/* sm */
@media (min-width: 640px) {
    #open-nav-button {
        display: none;
    }

    #close-nav-button {
        display: none;
    }

    #navigation-list {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

/* md */
@media (min-width: 768px) {}

/* lg */
@media (min-width: 1024px) {}

/* xl */
@media (min-width: 1280px) {}

/* xxl */
@media (min-width: 1536px) {}

@media (prefers-color-scheme: light) {

    header {
        color: var(--dark);
        background-color: var(--light);
    }

}

@media (prefers-color-scheme: dark) {

    header {
        color: var(--light);
        background-color: var(--dark);
    }
}

@keyframes open-nav {
    from {
        height: 0%;
    }

    to {
        height: 100%;
    }
}

@keyframes close-nav {
    from {
        height: 100%;
    }

    to {
        height: 0%;
    }
}